<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="contact" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fa-comments"></i>
                    &nbsp;&nbsp;<%= __('contact') %>
                    <script src="https://utteranc.es/client.js"
                            repo="ChenChain/ChenChain.github.io"
                            issue-term="pathname"
                            label="u_comment"
                            theme="github-light"
                            crossorigin="anonymous"
                            async>
                    </script>
                </div>
            </div>
        </div>
    </div>
</main>
